In [6]:
import pandas as pd

# simple array
data = [1, 2, 3, 4]
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
import pandas as pd 

filename = r'C:\Users\pumak\OneDrive\Desktop\Data Engineering Hexaware\Daily Assignments\Python\Day - 6\salary_data.csv'
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('student_data.csv', index=False)
print("data is inserted")

data is inserted