In [0]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Data
simpleData = [
    ("James","Sales","NY",90000,34,10000), 
    ("Michael","Sales","NY",86000,56,20000), 
    ("Robert","Sales","CA",81000,30,23000), 
    ("Maria","Finance","CA",90000,24,23000), 
    ("Raman","Finance","CA",99000,40,24000), 
    ("Scott","Finance","NY",83000,36,19000), 
    ("Jen","Finance","NY",79000,53,15000), 
    ("Jeff","Marketing","CA",80000,25,18000), 
    ("Kumar","Marketing","NY",91000,50,21000)
]

# Create DataFrame
schema = ["employee_name", "department", "state", "salary", "age", "bonus"]
df = spark.createDataFrame(data=simpleData, schema=schema)

# Print schema
df.printSchema()
df.show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
#groupby with sum of salaries

sum_data=df.groupBy("department").sum("salary")
sum_data.show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [0]:
#groupBy
sum_data=df.groupBy("department").min("salary").show()
sum_data=df.groupBy("department").max("salary").show()
sum_data=df.groupBy("department").avg("salary").show()
sum_data=df.groupBy("department").avg("salary").show()
sum_data=df.groupBy("department").mean("salary").show()
sum_data=df.groupBy("department").count().show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      81000|
|   Finance|      79000|
| Marketing|      80000|
+----------+-----------+

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|     Sales|      90000|
|   Finance|      99000|
| Marketing|      91000|
+----------+-----------+

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          87750.0|
| Marketing|          85500.0|
+----------+-----------------+

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          87750.0|
| Marketing|          85500.0|
+----------+-----------------+

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          87750.0|
| Marketing|          85500.0|
+----------+-----------------+

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [0]:
#groupBy multiple columns
sum_data=df.groupBy("employee_name","department").min("salary").show()
sum_data=df.groupBy("employee_name","department").max("salary").show()
sum_data=df.groupBy("employee_name","department").avg("salary").show()
sum_data=df.groupBy("employee_name","department").avg("salary").show()
sum_data=df.groupBy("employee_name","department").mean("salary").show()
sum_data=df.groupBy("employee_name","department").count().show()

+-------------+----------+-----------+
|employee_name|department|min(salary)|
+-------------+----------+-----------+
|        James|     Sales|      90000|
|      Michael|     Sales|      86000|
|       Robert|     Sales|      81000|
|        Maria|   Finance|      90000|
|        Raman|   Finance|      99000|
|        Scott|   Finance|      83000|
|          Jen|   Finance|      79000|
|         Jeff| Marketing|      80000|
|        Kumar| Marketing|      91000|
+-------------+----------+-----------+

+-------------+----------+-----------+
|employee_name|department|max(salary)|
+-------------+----------+-----------+
|        James|     Sales|      90000|
|      Michael|     Sales|      86000|
|       Robert|     Sales|      81000|
|        Maria|   Finance|      90000|
|        Raman|   Finance|      99000|
|        Scott|   Finance|      83000|
|          Jen|   Finance|      79000|
|         Jeff| Marketing|      80000|
|        Kumar| Marketing|      91000|
+-------------+----------+-----------+

+-------------+----------+-----------+
|employee_name|department|avg(salary)|
+-------------+----------+-----------+
|        James|     Sales|    90000.0|
|      Michael|     Sales|    86000.0|
|       Robert|     Sales|    81000.0|
|        Maria|   Finance|    90000.0|
|        Raman|   Finance|    99000.0|
|        Scott|   Finance|    83000.0|
|          Jen|   Finance|    79000.0|
|         Jeff| Marketing|    80000.0|
|        Kumar| Marketing|    91000.0|
+-------------+----------+-----------+

+-------------+----------+-----------+
|employee_name|department|avg(salary)|
+-------------+----------+-----------+
|        James|     Sales|    90000.0|
|      Michael|     Sales|    86000.0|
|       Robert|     Sales|    81000.0|
|        Maria|   Finance|    90000.0|
|        Raman|   Finance|    99000.0|
|        Scott|   Finance|    83000.0|
|          Jen|   Finance|    79000.0|
|         Jeff| Marketing|    80000.0|
|        Kumar| Marketing|    91000.0|
+-------------+----------+-----------+

+-------------+----------+-----------+
|employee_name|department|avg(salary)|
+-------------+----------+-----------+
|        James|     Sales|    90000.0|
|      Michael|     Sales|    86000.0|
|       Robert|     Sales|    81000.0|
|        Maria|   Finance|    90000.0|
|        Raman|   Finance|    99000.0|
|        Scott|   Finance|    83000.0|
|          Jen|   Finance|    79000.0|
|         Jeff| Marketing|    80000.0|
|        Kumar| Marketing|    91000.0|
+-------------+----------+-----------+

+-------------+----------+-----+
|employee_name|department|count|
+-------------+----------+-----+
|        James|     Sales|    1|
|      Michael|     Sales|    1|
|       Robert|     Sales|    1|
|        Maria|   Finance|    1|
|        Raman|   Finance|    1|
|        Scott|   Finance|    1|
|          Jen|   Finance|    1|
|         Jeff| Marketing|    1|
|        Kumar| Marketing|    1|
+-------------+----------+-----+

In [0]:
#groupBy and aggregation
df.groupBy("department").agg(({"salary":"sum"})).show()
#without groupby
df.agg(({"salary":"sum"})).show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

+-----------+
|sum(salary)|
+-----------+
|     779000|
+-----------+

In [0]:
#pivot
df.groupBy('department').pivot("employee_name").sum("salary").show()

+----------+-----+-----+-----+-----+-----+-------+-----+------+-----+
|department|James| Jeff|  Jen|Kumar|Maria|Michael|Raman|Robert|Scott|
+----------+-----+-----+-----+-----+-----+-------+-----+------+-----+
|     Sales|90000| NULL| NULL| NULL| NULL|  86000| NULL| 81000| NULL|
|   Finance| NULL| NULL|79000| NULL|90000|   NULL|99000|  NULL|83000|
| Marketing| NULL|80000| NULL|91000| NULL|   NULL| NULL|  NULL| NULL|
+----------+-----+-----+-----+-----+-----+-------+-----+------+-----+

In [0]:
simpleData_with_nulls = [
    ("James","Sales","NY",90000,34,10000), 
    ("Michael","Sales","NY",86000,56,20000), 
    ("Robert","Sales","CA",81000,30,23000), 
    ("Maria","Finance","CA",90000,24,23000), 
    ("Raman","Finance","CA",99000,40,24000), 
    ("Scott","Finance","NY",None,36,19000),  
    ("Jen","Finance",None,79000,53,15000),    
    ("Jeff","Marketing","CA",80000,None,18000), 
    (None,"Marketing","NY",91000,50,21000)     
]


schema = ["employee_name", "department", "state", "salary", "age", "bonus"]
dfa = spark.createDataFrame(data=simpleData_with_nulls, schema=schema)

#rows with null values are dropped
dfa.na.drop().show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

In [0]:
#sort
df.sort('bonus').show()
df.sort(df['salary'].desc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|          Jen|   Finance|   NY| 79000| 53|15000|
+-------------+----------+-----+------+---+-----+

In [0]:
#orderBy
df.orderBy('salary').show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        James|     Sales|   NY| 90000| 34|10000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+